<div class="card">
    <div class="row g-0 align-items-center">
        <div class="col-sm-4">
            <img
                class="img-fluid rounded-start ms-3"
                src="{{ asset('img/components/gearshift.svg') }}"
                alt="{{ autopart.title }}"
            >
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{ autopart.title }}
                </h5>
                <p class="card-text">
                    Для {{ autopart.car }}
                </p>
                <p class="card-text">
                    {{ autopart.description|raw }}
                </p>
                <div class="row g-3 justify-content-between align-items-center">
                    <hr class="mt-3 mb-2">
                    <div
                        class="col-6 btn autopart-card-like-btn align-items-center m-0"
                        data-autopart-id="{{ autopart.autopartId }}"

                        {% if is_granted('ROLE_USER') %}
                            data-user-id="{{ app.user.userId }}"
                        {% endif %}
                    >
                        В избранное
                        <img
                            src="{{ asset('/img/components/heart.svg') }}"
                            alt="Like"
                            width="30"
                            height="30"
                        >
                    </div>
                    <div
                        class="col-6 btn autopart-card-cart-btn align-items-center m-0"
                        data-autopart-id="{{ autopart.autopartId }}"

                        {% if is_granted('ROLE_USER') %}
                            data-user-id="{{ app.user.userId }}"
                        {% endif %}
                    >
                        В корзину
                        <img
                            src="{{ asset('/img/components/cart.svg') }}"
                            alt="Like"
                            width="30"
                            height="30"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>