<div class="card autopart" data-autopart-id="{{ autopart.autopartId }}">
    <div class="row g-0 align-items-center">
        <a class="col-sm-4 text-decoration-none p-2" href="{{ path('autopart', {autopartId: autopart.autopartId}) }}">
            <img
                class="img-fluid rounded"
                src="{{ asset(autopart.imagePath) }}"
                alt="{{ autopart.title }}"
            >
        </a>
        <div class="col-sm-8">
            <div class="card-body">
                <a class="d-block text-decoration-none text-dark" href="{{ path('autopart', {autopartId: autopart.autopartId}) }}">
                    <h5 class="card-title">
                        {{ autopart.title }}
                    </h5>
                    <p class="card-text">
                        Для {{ autopart.car }}
                    </p>
                    <p class="card-text">
                        Цена: {{ autopart.price }} {{ autopart.currency }}
                    </p>
                </a>
                <div class="row g-3 justify-content-between align-items-center mt-3">
                    <hr class="mb-2">
                    <div
                        class="col-6 btn autopart-card-btn autopart-card-like-btn align-items-center m-0"
                        data-autopart-id="{{ autopart.autopartId }}"

                        {% if is_granted('ROLE_USER') %}
                            data-user-id="{{ app.user.userId }}"
                        {% endif %}
                    ></div>
                    <div
                        class="col-6 btn autopart-card-btn autopart-card-cart-btn align-items-center m-0"
                        data-autopart-id="{{ autopart.autopartId }}"

                        {% if is_granted('ROLE_USER') %}
                            data-user-id="{{ app.user.userId }}"
                        {% endif %}
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>