<div class="menu-div">
    <a
        class="menu-button-div {{ (app.request.attributes.get('_route') is same as('homepage')) ? 'menu-button-div-hover' }}"
        href="{{ path('homepage') }}"
    >
        <img
            src="{{ asset('img/components/home.svg') }}"
            alt="Home"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
    <a
        class="menu-button-div {{ (app.request.attributes.get('_route') is same as('favorite')) ? 'menu-button-div-hover' }}"
        href="{{ path('favorite') }}"
    >
        <img
            src="{{ asset('img/components/heart.svg') }}"
            alt="Favourite"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
    <a
        class="menu-button-div {{ (app.request.attributes.get('_route') is same as('cart')) ? 'menu-button-div-hover' }}"
        href="{{ path('cart') }}"
    >
        <img
            src="{{ asset('img/components/cart.svg') }}"
            alt="Cart"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
    <a
        class="menu-button-div {{ (app.request.attributes.get('_route') is same as('profile')) ? 'menu-button-div-hover' }}"
        href="{{ path('profile') }}"
    >
        <img
            src="{{ asset('img/components/user.svg') }}"
            alt="Profile"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
</div>