<div class="menu-div">
    <a class="menu-button-div" href="{{ path('homepage') }}">
        <img
            src="{{ asset('img/components/home.svg') }}"
            alt="Home"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
    <div class="menu-button-div">
        <img
            src="{{ asset('img/components/heart.svg') }}"
            alt="Favourite"
            width="40"
            height="40"
            loading="lazy"
        >
    </div>
    <div class="menu-button-div">
        <img
            src="{{ asset('img/components/cart.svg') }}"
            alt="Cart"
            width="40"
            height="40"
            loading="lazy"
        >
    </div>
    <a class="menu-button-div" href="{{ path('login') }}">
        <img
            src="{{ asset('img/components/user.svg') }}"
            alt="Profile"
            width="40"
            height="40"
            loading="lazy"
        >
    </a>
</div>